*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

html {
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    width: 100vw;
}

/* Navigation Bar */

.navbar{
    background: none;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed; 
    top: 0px;
    z-index: 999; /*Forces to top*/
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    font-weight: bold;
}

#navbar__logo{
    margin: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    color: whitesmoke;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.logo {
    height: 50px;
    width: 50px;
    padding: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 10px;
    height: 48px;
    width: 48px;
    border: none;
    outline: none;
    background: none;
    color: whitesmoke;
    margin: 0 1rem;
}

.button:hover {
    color: aqua;
    transition: all 0.3s ease;
}
/* Main Section */
.main__container {
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('Images/Background_Toronto.jpg');
    height: 100vh;
    top: 0px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .main__content {
    position: absolute;
    top: 20vh;
    left: 10vw;
    z-index: 1;
}

.main__content h1 {
    font-size: 4rem;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
}
.main__content h2 {
    font-size: 1.5rem;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
} */

.menu_container {
    position: fixed;
    top: 20vh;
    left: 10vw;
    z-index: 9999;
}

.menu_container h1 {
    font-size: 4rem;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
}
.menu_container h2 {
    font-size: 1.5rem;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
}

.page__links__container {
    align-self: last baseline;
    display: grid ;
    height: 60vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-column: 50vw;
}

/* .page__links__list {
    background-color: transparent;
    margin: 0 9rem;
    padding: 0 3rem;
    width: 75%;
    list-style:disc;
} */

.page__link {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 0 1rem;
    width: 100%;
}

.link {
    color:aliceblue;
    text-decoration: none;
    text-shadow: 2px 2px 2px black;
    font-size: 2rem;
    border: none;
    outline: none;
    background: none;
    transition: color 0.5s ease, font-weight 0.5s ease;
}

.link-active {
    margin-left: 1ch;
    color: aqua;
}

.link:hover {
    color: aqua;
    transition: all 0.3s ease;
}

/* About Section */

.about__container {

}

.about__container {

}

/* Projects Section */
.projects {
    background-color: chocolate;
}

.projects__title__card {
    position:absolute;
    left: 0;
    top: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    max-width: 35vw;
    padding: 0;
    border-radius: 10px;
    color: white;
    font-size: 2.5rem;
}


.projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 100vh;
    background-color: #282E34;
    z-index: 0;
    width: 100%;
    max-width: 100vw;
    padding: 0;
}

.project__card {
    display: grid;
    grid-template-rows: 0.25fr 1.75fr;
    justify-items: center;
    z-index: 3;
    margin: 0 auto;
    height: 20vh;
    background-color: grey;
    width: 100%;
    max-width: 500px;
    padding: 5px;
    border-radius: 10px;
    filter:drop-shadow(0 0 0.75rem black);
}

.experience {
    background-color: grey;
}

.contact {
    background-color: goldenrod;
}